---
---

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html {
	font-size: 62.5%;
}
body {
	font-size: 1em;
	overflow-x: hidden;
}
a {
	text-decoration: none;
	color: inherit;
	cursor: pointer;
}

/* General Styling */
.container {
	position: relative;
	width: 100%;
	height: auto;
	font-size: 0;
}

.show {
	display: block;
	-webkit-filter: opacity(1) !important;
}


/* Elements Styling */
.section {
	height: 100vh;
	font-size: 1rem;
}
	.section-small {
		width: 25%;
		min-width: 320px;
	}
	.section-large {
		width: 75%;
	}

.profile {
	position: fixed;
	background: #1f222d;
	padding: 5em 0;
	text-align: right;
}
	.hamburger,.who, .help {
		display: none;
	}
	.me, .social, .menu, .license {
		position: relative;
		width: 80%;
		left: 15%;
	}
		.me #picture {
			width: 60%;
			height: auto;
			border-radius: 50%;
		}
		.me #name{
			font: 700 2.2em/1.6 "PT Serif";
			color: #ddd;
		}
		.me #name a{
			transition: color .2s;
		}
		.me #name a:hover {
			color: #e74c3c;
		}
		.me p {
			font: 300 1.6em/1.2 "Source Sans Pro";
			color: #c7c7c7;
		}
		.me #profession {
			display: none;
		}
	
	.social {
		margin-top: 2em;
		color: #c7c7c7;
	}
		.social p {
			font: 300 1.7em/1.2 "Source Sans Pro";
		}
	
	.menu {
		margin-top: 2em;
	}
		.menu ul {
			display: inline-block;
			list-style-type: none;
			width: 40%;
		}
			.menu ul li {
				font: 300 1.8em/1.8 "Source Sans Pro";
				color: #ddd;
				border-bottom: 1px solid #555;
				transition: all .25s;
				cursor: pointer;
			}
			.menu ul li:hover {
				background: #555;
				color: #fff;
				padding-right: .75em;
			}

	.license {
		margin-top: 4em;
	}
	.license p {
		font: 300 1.45em/1.1 "Source Sans Pro";
		color: #999;
	}


/* Content Styling */
.content {
	position: absolute;
	top: 0;
	right: 0;
	padding: 0 1em;
	height: auto;
	max-width: calc(100% - 320px);
	min-height: 100vh;
	font-size: 1rem;
	background: #1f222d;
}

.postBlock {
	width: 100%;
	min-height: 100px;
	padding: 2em 4em;
	margin: 1em 0;
	background: #f7f7f7;
}
 .postBlock:nth-of-type(even) {
 	background: #e7e7e7;
 }
 	.postBlock h2 {
		font: 700 2.8em/1.2 "PT Serif";
		color: #444;
	 }
	.postContent h2 {
		font: 700 2.2em/1 "PT Serif";
		color: #333;
		padding-top: 35px;
	}
	.postBlock p {
		font: 400 1.6em/1.4 "PT Serif";
		color: #777;
	}

/* Post Styling */
.postContainer {
	position: relative;
	width: 100%;
	height: auto;
	margin: 1em 0;
	padding: 5em 4em;
	background: #fbfbfb;
}
.postContainer:after{
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 5px;
	background: linear-gradient(to right, #3498db 25%,#f1c40f 25%, #f1c40f 50%, #2ecc71 50%, #2ecc71 75%, #e74c3c 75%);
}
	.postMeta {
		width: 100%;
		height: auto;
	}
		.postMeta h1 {
			font: 700 3.6em/1 "PT Serif";
			color: #333;
		}
		.postMeta p {
			font: 400 2em/1 "PT Serif";
			color: #444;
			margin-top: .5em;
		}
		.postMeta .mobileItem {
			display: none;
		}
		

	.postContent {
		margin-top: 4em;
		width: 80%;
	}
	.postContent p {
		font: 400 1.8em/1.5 "PT serif";
		color: #333;
		margin: 1.25em 0;
	}
	.postContent img {
		width: 100%;
		height: auto;
		margin: 1em 0;
	}
	.postContent a {
		color: #e74c3c;
	}
	.postContent ul {
		font-size: 1.8rem;
		padding-left: 20px;
	}
		.postContent ul li{
			font-size: 1em;
			font-family: 'PT serif';
		}
		.postContent ul li p {
			padding-left: 20px;
		}
		
	.postContent blockquote {
		position: relative;
		width: 100%;
		margin: 0em 0;
		padding: 1em 2em;
		background: #e9f5fb;
		text-align: center;
	} blockquote:before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 3px;
		background: linear-gradient(to right, transparent 20%, #3498db 35%, #3498db 65%, transparent 80%);
	}
	blockquote:after {
		content: "";
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 3px;
		background: linear-gradient(to left, transparent 20%, #3498db 35%, #3498db 65%, transparent 80%);
	}
	.postContent blockquote p{
		font: 300 3em/1.2 "Source Sans Pro";
	}
	
	

/*********************/
/* RESPONSIVE DESIGN */

@media (max-width: 1280px) {
	.postContent {
		width: 100%;
	}
}

@media (max-width: 800px) {
	.section-small {
		width: 20%;
		min-width: 250px;
	}
	.profile {
		text-align: center;
		padding: 5em 1.5em;
	}
	.me,.social,.menu,.license{
		width: 100%;
		left: 0;
	}
		.me #about {
			font-size: 1.5em;
		}
		.social p {
			font-size: 1.5em;
		}
		.menu ul {
			width: 70%;
		}
		.menu ul li:hover {
			padding: 0;
		}
		.license p {
			font-size: 1.2em;
		}
	
	.content {
		max-width: calc(100% - 250px);
	}
		.postContainer {
			padding: 5em 2em;
		}
		.postContent blockquote p{
		font: 300 2.4em/1.2 "Source Sans Pro";
	}
}

@media (max-width: 480px) {
	.container {
		overflow: hidden;
	}
	.section-small {
		min-width: none;
	}
	.section-large {
		width: 100%;
	}
	.profile {
		width: 200%;
		position: relative;
		margin: 0 -50%;
		height: 25em;
		padding: 4em 0;
		text-align: center;
		border-bottom-left-radius: 50%;
		border-bottom-right-radius: 50%;
		border-bottom: 5px solid #e74c3c;
		z-index: 1;
	}
	.hamburger, .who, .help {
		display: block;
		position: absolute;
		top: 2em;
		left: 2em;
		z-index: 100;
		font-size: 1rem;
	} .who {
			left: auto;
			right: 2em;
		}
		.help {
			-webkit-filter: opacity(0);
			top: 9.5em;
			left: auto;
			right: 18%;
			transition: all .5s;
		}
		.hamburger p, .who p {
			font: 2.2em/1 "font awesome";
			color: #ddd;
		}
	
	.social, .menu, .license, #about {
		display: none;
	}
		.me #picture {
			width: 15%;
			margin-bottom: 1em;
		}
		.me #name {
			font-size: 2.4em;
			line-height: 1.3; 
		}
		.me #profession {
			display: block;
		}
	.content {
		position: relative;
		width: 100%;
		max-width: none;
		background: transparent;
		padding: 0;
		min-height: auto;
	}
	
	.postBlock {
		margin: 0;
		padding: 3em 2em;
		text-align: center;
		z-index: 2;
	}
	.postBlock:first-of-type{
		margin-top: -1.8em;
		padding-top: 4em;
	}
	.postBlock:last-of-type{
		position: relative;
		padding-bottom: 0;
	} .postBlock:last-of-type:after{
		position: absolute;
		content: "";
		width: 120%;
		bottom: -2em;
		left: -10%;
		height: 50px;
		background: inherit;
		border-bottom-left-radius: 50%;
		border-bottom-right-radius: 50%;
		border-bottom: 5px solid #2ecc71; 
		z-index: -1;
	}
	
		.postBlock h2 {
			font: 700 2em/1.2 "PT serif";
		}
	
	
	.postContainer {
		margin: -6.8em 0 0;
		padding-bottom: 0;
	}
		.postMeta {
			width: 200%;
			margin: 0 -50%;
			padding: 4em 48% 5em;
			text-align: center;
			border-bottom-left-radius: 50%;
			border-bottom-right-radius: 50%;
			background: darken(#ecf0f1,3%);
		}
		.postMeta h1 {
			font-size: 2.4em;
		}
		.postMeta .mobileItem {
			display: block;
			font-size: 1.8em;
			line-height: 1.8;
		}
		.postMeta .desktopItem {
			display: none;
		}
		.postContainer:after{
			display: none;
		}
		.postContent {
			position: relative;
			font-size: 0.95em;
			padding-bottom: 1em;
			z-index: 10;
		}
		.postContent:after {
			position: absolute;
			content: "";
			bottom: -1.8em;
			left: 0;
			width: 160%;
			height: 100px;
			margin: 0 -30%;
			background: #fbfbfb;
			border-bottom-left-radius: 50%;
			border-bottom-right-radius: 50%;
			border-bottom: 5px solid #2ecc71;
			z-index: -1;
		}
		
		.footer {
			font-size: 1rem;
			margin-top: 0em;
			background: #1f222d;
			padding: 5em 2em 2em;
		}
		.footer-links ul{
			list-style-type: none;
			text-align: center;
		}
		.footer-links ul li{
			display: inline;
			font: 300 1.8em/1.5 "Source Sans Pro";
			color: #ddd;
			margin: 0 .25em;
		}
		.copyright {
			display: block !important;
			text-align: center;
			font-size: 1.2em;
			margin: 1.8em 0 0;
		}
}



/* 404 Styling */
.error-404 {
	background: #f7f7f7;
	text-align: center;
	font-size: 1rem;
	min-height: 100vh;
	padding: 5em 0;
}
.error-404 img {
	width: 50%;
	height: auto;
}
	.error-404 p {
		font: 300 2.4em/1.2 "Source Sans Pro";
		color: #333;
	}
	.error-404 #main {
		font-size: 4.4em;
		font-weight: 300;
		margin-bottom: .2em;
	}



/*****************/
/* CODE STYLING */
pre, code { font-size: 15px; border: 1px solid #e8e8e8; border-radius: 3px; background-color: #eef; }

code { padding: 1px 5px; }

pre { padding: 8px 12px; overflow-x: auto; }
pre > code { border: 0; padding-right: 0; padding-left: 0; }
	
/* SYNTAX HIGHLIGHTING */
.highlight { background: #fff; }
.highlighter-rouge .highlight { background: #eef; }
.highlight .c { color: #998; font-style: italic; }
.highlight .err { color: #a61717; background-color: #e3d2d2; }
.highlight .k { font-weight: bold; }
.highlight .o { font-weight: bold; }
.highlight .cm { color: #998; font-style: italic; }
.highlight .cp { color: #999; font-weight: bold; }
.highlight .c1 { color: #998; font-style: italic; }
.highlight .cs { color: #999; font-weight: bold; font-style: italic; }
.highlight .gd { color: #000; background-color: #fdd; }
.highlight .gd .x { color: #000; background-color: #faa; }
.highlight .ge { font-style: italic; }
.highlight .gr { color: #a00; }
.highlight .gh { color: #999; }
.highlight .gi { color: #000; background-color: #dfd; }
.highlight .gi .x { color: #000; background-color: #afa; }
.highlight .go { color: #888; }
.highlight .gp { color: #555; }
.highlight .gs { font-weight: bold; }
.highlight .gu { color: #aaa; }
.highlight .gt { color: #a00; }
.highlight .kc { font-weight: bold; }
.highlight .kd { font-weight: bold; }
.highlight .kp { font-weight: bold; }
.highlight .kr { font-weight: bold; }
.highlight .kt { color: #458; font-weight: bold; }
.highlight .m { color: #099; }
.highlight .s { color: #d14; }
.highlight .na { color: #008080; }
.highlight .nb { color: #0086B3; }
.highlight .nc { color: #458; font-weight: bold; }
.highlight .no { color: #008080; }
.highlight .ni { color: #800080; }
.highlight .ne { color: #900; font-weight: bold; }
.highlight .nf { color: #900; font-weight: bold; }
.highlight .nn { color: #555; }
.highlight .nt { color: #000080; }
.highlight .nv { color: #008080; }
.highlight .ow { font-weight: bold; }
.highlight .w { color: #bbb; }
.highlight .mf { color: #099; }
.highlight .mh { color: #099; }
.highlight .mi { color: #099; }
.highlight .mo { color: #099; }
.highlight .sb { color: #d14; }
.highlight .sc { color: #d14; }
.highlight .sd { color: #d14; }
.highlight .s2 { color: #d14; }
.highlight .se { color: #d14; }
.highlight .sh { color: #d14; }
.highlight .si { color: #d14; }
.highlight .sx { color: #d14; }
.highlight .sr { color: #009926; }
.highlight .s1 { color: #d14; }
.highlight .ss { color: #990073; }
.highlight .bp { color: #999; }
.highlight .vc { color: #008080; }
.highlight .vg { color: #008080; }
.highlight .vi { color: #008080; }
.highlight .il { color: #099; }

@keyframes blinking {
	0%,49% {
		opacity: 1;
	}
	50%,99% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}