<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>
		<div class="container">
	    <div class="section section-small profile">
			<div class="me">
				<img src="{{ site.url }}/assets/images/pp.jpg" alt="" id="picture">
				<h2 class="profileText" id="name">Abhishek Pathak</h2>
				<p class="profileText" id="about">A Web developer who loves to create Web Applications that are functional and beautiful at the same time. You will find me either learning about MEAN Stack or building graphics on Illustrator.<br><br><span style="font-size: 1.05em">hi @ abhishekpathak.in</span></p>
			</div>
			<div class="social">
				<p><i class="fa fa-twitter" style="color: #47e"></i>abhishekp1996</p>
			</div>
			<div class="menu">
				<ul>
					<li>About</li>
					<li>Personal</li>
					<li>Work</li>
					<li>Projects</li>
					<li>Contact</li>				
				</ul>
			</div>
			<div class="license">
				<p>Copyright &copy; 2017 Abhishek Pathak.</p>
				<p>All code MIT License.</p>
			</div>
		</div>

      <div class="section section-large content">
        {{ content }}
      </div>
		</div>
  </body>

</html>