---
layout: default
---
<div class="postContainer">
 	
 	<div class="postMeta">
		
		{% assign date_format = "%b %-d, %Y" %}
		<p class="date mobileItem"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: date_format }}</time></p>
		<h1>{{ page.title | escape }}</h1>
		<p class="date desktopItem"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: date_format }}</time></p>
	
  </div>

  <div class="postContent" itemprop="articleBody">
    
    {{ content }}
  
  </div>

  {% if site.disqus.shortname %}
    {% include disqus_comments.html %}
  {% endif %}

</div>
